{% load static %}

<html>
    <head>
        <title>Merchex</title>
        <link rel="stylesheet" href="{% static 'listing/styles.css' %}" />
    </head>
    <body>

        <nav>
          <a href="{% url 'band-list' %}">Groupes</a>
          <a href="{% url 'band-create' %}">Créer un Groupe</a>
          <a href="{% url 'band-create-example' %}">Create a band</a>
          <a href="{% url 'listings' %}">Anonces</a>
          <a href="{% url 'listings-add' %}">Créer une Anonce</a>
          <a href ="{% url 'contact' %}">Contact-Us</a>
        
        </nav>
     
        {% block content %}{% endblock %}
     
       </body>
</html>